page-portfolio{
img{
    max-width: 20%;
    max-height: auto;
    float: left;
    margin: 5%;
    display: inline;
}

ion-card{
    text-align: center;
    background-image: url('');
    display: inline-block;
}
}